.image {
  border-radius: 50%;
  overflow: hidden;
  background: $hintColor;
  animation: skeleton-loading 1s linear infinite alternate;
}

.button {
  border-radius: 22px;
  padding: 0 10px;
  height: 30px;
  width: 60px;
  cursor: default;
  background: $hintColor;
  border: 1px solid $hintColor;
  outline: none;
  animation: skeleton-loading 1s linear infinite alternate;
}

.block {
  border-radius: 5px;
  height: 50px;
  width: 100%;
  cursor: default;
  background: $hintColor;
  border: 1px solid $hintColor;
  outline: none;
  animation: skeleton-loading 1s linear infinite alternate;
}

.paragraph {
  border-radius: 10px;
  background: $hintColor;
  animation: skeleton-loading 1s linear infinite alternate;
  height: 20px;
  width: 100%;
}

.input {
  border-radius: 10px;
  background: $hintColor;
  animation: skeleton-loading 1s linear infinite alternate;
  height: 40px;
  width: 100%;
}

@keyframes skeleton-loading {
  0% {
    filter: brightness(65%);
  }
  100% {
    filter: brightness(95%);
  }
}
