.categoriesItem {
  margin-bottom: 7px;
  display: flex;
  height: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.skeleton {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }

  &List {
    display: flex;
    flex-direction: column;

    &Item {
      margin-bottom: 7px;
    }
  }
}
