$bgColor: var(--tg-theme-bg-color);
$secondaryBgColor: var(--tg-theme-secondary-bg-color);
$buttonColor: var(--tg-theme-button-color);
$buttonTextColor: var(--tg-theme-button-text-color);
$hintColor: var(--tg-theme-hint-color);
$linkColor: var(--tg-theme-link-color);
$textColor: var(--tg-theme-text-color);
