.item {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px $bgColor;
  background-color: $secondaryBgColor;
  min-height: 150px;
  min-width: 90%;

  &Top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &Stars {
    }

    &User {
      display: flex;
      flex-direction: column;
      color: $hintColor;
      font-size: 13px;

      span {
        &:first-child {
          font-weight: 500;
          color: $textColor;
        }
      }
    }
  }

  &Text {
  }
}
